In [12]:
import sqlite3

#create database
conn = sqlite3.connect('Groups.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Students')
cur.execute('DROP TABLE IF EXISTS Courses')

#create table
cur.execute('CREATE TABLE Courses (Id TEXT PRIMARY KEY, Title TEXT)')
cur.execute('CREATE TABLE Students (Id INTEGER PRIMARY KEY, Name TEXT, Course_id TEXT, FOREIGN KEY(Course_id) REFERENCES Courses(Id))')


# insert data into courses table, add 3 courses
cur.execute('INSERT INTO Courses (Id, Title) VALUES(?,?)',('BDAT1001','Data Programming'))
cur.execute('INSERT INTO Courses (Id, Title) VALUES(?,?)',('BDAT1002','Data Manipulation Techniques'))
cur.execute('INSERT INTO Courses (Id, Title) VALUES(?,?)',('BDAT1003','Data Systems Architecture'))

# insert data into students table, add 3 students 
cur.execute('INSERT INTO Students (Id, Name, Course_id) VALUES(?,?,?)',(200416202,'Sushant Nepal','BDAT1001'))
cur.execute('INSERT INTO Students (Id, Name, Course_id) VALUES(?,?,?)',(200423349,'Bikalpa Pantha','BDAT1001'))
cur.execute('INSERT INTO Students (Id, Name, Course_id) VALUES(?,?,?)',(200416204,'Tien ','BDAT1003'))
cur.execute('INSERT INTO Students (Id, Name, Course_id) VALUES(?,?,?)',(200416205,'Luis Grisolia','BDAT1002'))

# print statement
print("Database and table created")

#view table
view_student_table()

conn.close()

def view_student_table():
    cur.execute('SELECT * FROM Students')
    student_rows = cur.fetchall()
    print_table(student_rows)
    cur.execute('SELECT * FROM Courses')
    course_rows = cur.fetchall()
    print_table(course_rows)
            
def print_table(rows):
    for row in rows:
        print(row)

Database and table created
(200416202, 'Sushant Nepal', 'BDAT1001')
(200416204, 'Tien ', 'BDAT1003')
(200416205, 'Luis Grisolia', 'BDAT1002')
(200423349, 'Bikalpa Pantha', 'BDAT1001')
('BDAT1001', 'Data Programming')
('BDAT1002', 'Data Manipulation Techniques')
('BDAT1003', 'Data Systems Architecture')